# Server
PORT=5000
NODE_ENV=development

# PostgreSQL (Render) - only needed in production
DATABASE_URL=

# CORS
FRONTEND_URL=http://localhost:3000

# n8n (for Module 5)
N8N_WEBHOOK_URL=

# OpenAI (for Module 4)
OPENAI_API_KEY=
